In [2]:
import pandas as pd                  # dataframe operations
import numpy as np                   # math operations
import matplotlib.pyplot as plt      # diagrams/plots
import seaborn as sns                # diagrams / plots
path=r"C:\Users\vampa\OneDrive\Documents\nareshIT-DATASCIENCE\EDA\Visadataset.csv"
visa_df=pd.read_csv(path)
visa_df.head(3)

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied

** standardization**
- standarization means scaling the data into one scale
- we have different  columns has different units so that the value will vary
- one column has very huge values
- another column has very less values
- so it is important to scale all type of units under one scale
- we have  2 procedures
- standardization 
    - z-score:
        - thevalues ranges from -3 to 3
        - z=(x-meu)/sigma
- Normalization
    - Min Max scalar
    - x-xmin/xmax-xmin
    -values ranges from 0 to 1

In [ ]:
# take the prevailing wage column
# z-score=x- meu/sigma
# step 2- calculate mean of prevailing wage
#- step 3: calculate std of prewage
 # step 4: nr: pwage-mean
#step 5: pwage_zscore=nr/dr

In [2]:
visa_df['prevailing_wage']

0           592.2029
1         83425.6500
2        122996.8600
3         83434.0300
4        149907.3900
            ...
25475     77092.5700
25476    279174.7900
25477    146298.8500
25478     86154.7700
25479     70876.9100
Name: prevailing_wage, Length: 25480, dtype: float64

In [9]:
pwage=visa_df['prevailing_wage']
pwage_mean=visa_df['prevailing_wage'].mean()
pwage_std=visa_df['prevailing_wage'].std()
nr=pwage-pwage_mean
visa_df['prevailing_wage_z']=nr/pwage_std

In [10]:
visa_df[['prevailing_wage','prevailing_wage_z']]

       prevailing_wage  prevailing_wage_z
0             592.2029          -1.398510
1           83425.6500           0.169832
2          122996.8600           0.919060
3           83434.0300           0.169991
4          149907.3900           1.428576
...                ...                ...
25475       77092.5700           0.049923
25476      279174.7900           3.876083
25477      146298.8500           1.360253
25478       86154.7700           0.221504
25479       70876.9100          -0.067762

[25480 rows x 2 columns]

In [11]:
visa_df['prevailing_wage'].max(),visa_df['prevailing_wage_z'].max()
#99.7% data between -3 to 3

(319210.27, 4.634101837909902)

In [ ]:
visa_df['prevailing_wage'].idxmax()
# in the prevailing wage column the max value id is 21077

In [12]:
visa_df['prevailing_wage'].min(),visa_df['prevailing_wage_z'].min()

(2.1367, -1.4096818992891214)

In [13]:
visa_df['prevailing_wage'].idxmin()

20575

In [15]:
#21077 is max value id
# 20575 is min value id
# can you get only these two rows values
visa_df.iloc[[2107,20575]]

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status,prevailing_wage_z
2107,EZYV2108,Asia,Bachelor's,N,Y,3037,2009,West,56741.4400,Year,Y,Denied,-0.335398
20575,EZYV20576,North America,Master's,N,N,1552,2004,Northeast,2.1367,Hour,Y,Certified,-1.409682

In [18]:
cols=['prevailing_wage','prevailing_wage_z']
ids=[2107,20575]
visa_df[['prevailing_wage','prevailing_wage_z']].iloc[[2107,20575]]
visa_df[cols].iloc[ids]

       prevailing_wage  prevailing_wage_z
2107        56741.4400          -0.335398
20575           2.1367          -1.409682

In [ ]:
# generally in above prevailing wage and prevailing wage_z will overwrite the column values
# becoz we want to clean our data before we apply ML model
# if you create any extra columns make sure drop some of non required columns

# package-Standard Scalar

In [21]:
# read the package
# save the package
# apply fit trans
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
ss.fit_transform(visa_df[['prevailing_wage']])
visa_df['prevailing_wage_ss']=ss.fit_transform(visa_df[['prevailing_wage']])

In [22]:
cols=['prevailing_wage','prevailing_wage_z','prevailing_wage_ss']
visa_df[cols]

       prevailing_wage  prevailing_wage_z  prevailing_wage_ss
0             592.2029          -1.398510           -1.398537
1           83425.6500           0.169832            0.169835
2          122996.8600           0.919060            0.919079
3           83434.0300           0.169991            0.169994
4          149907.3900           1.428576            1.428604
...                ...                ...                 ...
25475       77092.5700           0.049923            0.049924
25476      279174.7900           3.876083            3.876159
25477      146298.8500           1.360253            1.360280
25478       86154.7700           0.221504            0.221509
25479       70876.9100          -0.067762           -0.067763

[25480 rows x 3 columns]

** Normalization **
- min max scalar
- x is data column
- we need to calucalte x min and x max
- nr=x-xmin
- dr=xmax-xmin
- nr/dr

In [15]:
import pandas as pd                  # dataframe operations
import numpy as np                   # math operations
import matplotlib.pyplot as plt      # diagrams/plots
import seaborn as sns                # diagrams / plots
path=r"C:\Users\vampa\OneDrive\Documents\nareshIT-DATASCIENCE\EDA\Visadataset.csv"
visa_df=pd.read_csv(path)
visa_df.head(3)

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied

In [ ]:
# x-xmin/xmax-xmin
# step :1: readthe pwage column
# step 2: find the min value of the pwage column
# step 3: find the max
#step 4: nr= datacolumn-min value
#step 5:dr= max vale- min value
#step 6: nr/dr

In [27]:
pwage=visa_df['prevailing_wage']
wage_max=visa_df['prevailing_wage'].max()
wage_min=visa_df['prevailing_wage'].min()
nr=pwage-wage_min
dr=wage_max-wage_min
visa_df['prevailing_wage_norm']=nr/dr

In [28]:
visa_df['prevailing_wage_norm'].min(),visa_df['prevailing_wage_norm'].max()

(0.0, 1.0)

$min-Max-Scalar$

In [31]:
from sklearn.preprocessing import MinMaxScaler
mms=MinMaxScaler()
visa_df['prevailing_wage_mms']=ss.fit_transform(visa_df[['prevailing_wage']])