# statistics part 1- EDA
# statistics part 2:
    - 1. sampling
    - 2.central limit theorem
    - 3.point Estimates
    - 4. Interval Estimates
    - 5. confidence intervals
    - 6. Hypothesis Testing
    - 7.Z-table

In [ ]:
# Inferential statistics
 will work on sample, will find on population
will find mean on sample, will find mean on population
 will find median on sample, will find median pop
    will find mode on sample, will find mode pop
    what ever we are finding mean.mode,median,std,var on sample: statistics
        what ever we are finding (mean.mode,median,std,var) on population: parameter

# Parameter estimation or Inferential statistics

- 1.assume that we have a data of 1000 observations
- 2. if this data does not follow normal distribution
- 3. we are dividing this data into 20 samples
- 4. each sample has 50 observations
- 5. s_1,s_2,.......,s_20
- 6. we are calculating mean of each sample :s1,s2,s3....s20
- 7. if you draw the distribution using all the 20 samples
- 8. each sample mean is a single value
- 9. like that we have 20 values
- 10. now we are interested to draw a distribution on these 20 values
- 11. the distribution will follow normality
- 12. It is called Central limit theorem

In [ ]:
- if data does not follow normality divide data into 20 samples
- calculate 20 sample means, the distribution of these follow normality

In [ ]:
- statistics part 1: dealing with raw observations, we have mean,std,Z-score,mean=(x1+x2+x3+-----+xn)/n
-    statistics part 2: sample means  as observations, mean,std,Z-score,mean=(s1+s2+s3+----sn)/n

In [ ]:
# raw observations:1,10,20,35,40,45,55,60,70,80,90,100

In [2]:
import pandas as pd                  # dataframe operations
import numpy as np                   # math operations
import matplotlib.pyplot as plt      # diagrams/plots
import seaborn as sns

In [ ]:
from sklearn.processing import l1=[1,10,20,35,40,45,55,60,70,80,90,100]
mean(l1)

In [3]:
dict1={'Raw':[1,10,20,35,40,45,55,60,70,80,90,100]}
data1=pd.DataFrame(dict1)
data1

    Raw
0     1
1    10
2    20
3    35
4    40
5    45
6    55
7    60
8    70
9    80
10   90
11  100

In [5]:
Raw_mean=data1['Raw'].mean()
Raw_mean

50.5

In [ ]:
# calculate mean of sample for above data
s1=[1,0,20,35]

- Mean of sample means = mean of observations = meu
- mean : both are same in part 1& 2

In [ ]:
- when you talk only raw observations : standard deviation : sigma
- when you talk about sample means observations : standard error : sigma/ root of n

In [ ]:
standard deviation: how much a observations is deviated from mean